.h1{
    position: relative;
    font-size: 10px;
    color: aliceblue;
    width: 100px;
    height: 100px;
    background-color: blue;
    padding: 40px;
    box-sizing: border-box;
}
.h2{
    width:20px;
    height:20px;
    background-color:red;
    position: absolute;
    top:110px;
}