body{
    font-family:Arial, Helvetica, sans-serif;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
}
.btn:hover{
    opacity: 0.8;
}
.btn+.btn{
    margin-left: 16px;
}
.btn-success{
    background-color: rgb(25, 240, 25);
}
.btn-warn{
    background-color: rgb(248, 171, 27);
}
.btn-danger{
    background-color: red;
}   